.container {
	padding: 15px;
	background-color: rgb(9, 1, 41);
	color: #fff;
	border-radius: 4px;
	margin-bottom: 2.8rem;
	margin-top: 2.8rem;
}

.row {
	display: flex;
	justify-content: space-between;
}

.rowTop {
	align-items: flex-start;
}

.rowBottom {
	margin-top: 40px;
	align-items: flex-end;
}

.cost {
	margin: 0;
	display: flex;
	align-items: center;
}

.balanceNumber {
	width: 90px;
	height: 2rem;
	margin-bottom: 0;
}

.icon {
	padding-left: 10px;
	cursor: pointer;
	padding-top: 3px;
}
